<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='social_styles.css') }}">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
     <link href= "https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Poppins:wght@700&display=swap" rel="stylesheet">


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body class="bar-style">
<section class="bar-style">
    <nav class="navbar navbar-expand-lg bar-style">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">the Social Network</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
        <a class="nav-link active" aria-current="page" href="{{ url_for('home_page') }}">Home</a>
        {% if not current_user.is_authenticated: %}
        <a class="nav-link na" href="{{ url_for('register') }}">Register</a>
        <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
        <a class="nav-link" href="{{ url_for('about') }}">about</a>
        {% else: %}
        <a class="nav-link" href="{{ url_for('all_post') }}">All posts</a>
        <a class="nav-link" href="{{ url_for('new_post') }}">New Post</a>
        <a class="nav-link" href="{{ url_for('player_search') }}">Search</a>
        <a class="nav-link" href="{{ url_for('profile', id=current_user.id) }}">Profile Page</a>

        <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
    </section>
    {% block content %}{% endblock %}
</body>

</html>